<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Produtos - Sagrado Neon</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="d-flex flex-column min-vh-100">
    
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
           <a href="telaInicial">
            <img src="/Logoextendido.png" width="150" height="40" alt="Logo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <div class="dropdown mt-3">
                        <a href="/calendario" class="btn btn-light btn-dark-mode" role="button">
                            <i class="bi bi-calendar4-event"></i>
                        </a>
                        <button id="toggleTheme" class="btn btn-light btn-dark-mode">
                            <i class="bi bi-moon-fill"></i>
                        </button>
                        <button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Menu
                        </button>
                         <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="gerarRelatorios">Gerar Relatórios</a></li>
                            <li><a class="dropdown-item" href="cadastrarCliente">Gerar Contratos</a></li>
                            <li><a class="dropdown-item" href="editarDados">Editar Dados</a></li>
                            <li><a class="dropdown-item" href="produtos">Produtos</a></li>
                            <li><a class="dropdown-item" href="sair">Sair</a></li>
                        </ul>
                    </div>
                </ul>
            </div>
        </div>
    </nav>

    
    <main class="flex-grow-1 d-flex align-items-center">
        <div class="container mt-4">
            <div class="row g-4 justify-content-center">
               
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card h-100 text-center">
                        <div class="card-body">
                            <i class="bi bi-eye-fill card-icon" style="font-size: 2rem;"></i>
                            <h5 class="card-title">Visualizar Produtos</h5>
                            <p class="card-text text-white">Consulte os produtos disponíveis.</p>
                            <a href="/vizualizarProdutos" class="btn btn-light">Acessar</a>
                        </div>
                    </div>
                </div>
                
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card h-100 text-center">
                        <div class="card-body">
                            <i class="bi bi-plus-square-fill card-icon" style="font-size: 2rem;"></i>
                            <h5 class="card-title">Cadastrar Produto</h5>
                            <p class="card-text text-white">Adicione novos produtos ao sistema.</p>
                            <a href="/formCadastrarProdutos" class="btn btn-light">Acessar</a>
                        </div>
                    </div>
                </div>
                <!-- Card 3: Editar Produto -->
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card h-100 text-center">
                        <div class="card-body">
                            <i class="bi bi-pencil-fill card-icon" style="font-size: 2rem;"></i>
                            <h5 class="card-title">Editar Produto</h5>
                            <p class="card-text text-white">Atualize informações de produtos.</p>
                            <a href="/formEditarProdutos" class="btn btn-light">Acessar</a>
                        </div>
                    </div>
                </div>
                <!-- Card 4: Deletar Produto -->
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card h-100 text-center">
                        <div class="card-body">
                            <i class="bi bi-trash-fill card-icon" style="font-size: 2rem;"></i>
                            <h5 class="card-title">Deletar Produto</h5>
                            <p class="card-text text-white">Delete produtos do sistema.</p>
                            <a href="/formDeletarProdutos" class="btn btn-light">Acessar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <br>
    <!-- Rodapé -->
    <footer class="text-light text-center py-3 mt-auto">
        Todos os direitos reservados
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="/js/themeSwitcher.js"></script>
</body>

</html>